development:
  deploy_user: deploy
  deploy_host: example.com
  deploy_path: /apps/stats_scraper
  database_user: stats_scraper
  database_password: password
  database_host: localhost
  database_port: 1234

production:
  deploy_user: deploy
  deploy_host: example.com
  deploy_path: /apps/stats_scraper
  database_user: stats_scraper
  database_password: password
  database_host: localhost
  database_port: 1234
